@import "../../design-tokens/mixins";

.header {
  padding: 15px 0;
  background-color: $bg_color;
}

.header__wrapper {
  @include container();
  padding: 0 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}