.contacts {
  padding-top: 30px;
  display: flex;
}

.contacts__list {
  margin: 0;
  padding: 0 75px 0 0;
  list-style: none;
}

.contacts__item {
  margin-bottom: 35px;
}

.contacts__name {
  margin: 0 0 18px 0;
  font-weight: 700;
}

.contacts__value {
  margin: 0;
  font-weight: 600;
  font-size: 14px;
  white-space: pre-line;
  color: #1A212F;
}

.contacts__wrap {
  position: relative;
}

.contacts__map {
  display: block;
  z-index: 1;
}

.contacts__ya-map {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 5;
}

.contacts__icon {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 3;
}

.contacts__link {
  font-weight: 600;
  font-size: 14px;
  text-decoration: none;
  color: #1A212F;
}

.contacts__link:hover {
  color: #BD0C21;
}